<tbody>
    <% @order.each do |order| %>
      <tr>
        <td style="font-size: 50">order id => <%= order.order_identifier%></td>




       
        <td>order value => <%= order.total_price %></td>
      </tr>
    <% end %>
